@use './util/variables' as *;
@use './util/mixin' as *;






@media screen and (min-width: 1024px) {
    body {    
        .header {
            height: $header-height-large;
        }

        .main {
            .card__container {
                .card {
                    width: 30rem;
                    height: 35rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {    
        .header {
            height: $header-height;
    
            .nav {
                padding: 0 5%;
    
                &__btn {
                    padding: 0.4rem 1rem;
                }
            }
        }

        .main {
            .card__container {
                .card {
                    width: 25rem;
                    height: 28rem;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    body {    
        .header {
            height: $header-height-small;
    
            .nav {
                padding: 0 3%;
    
                &__btn {
                    padding: 0.25rem .75rem;
                }
            }
        }

        .main {
            .card__container {
                .card {
                    width: 15rem;
                    height: 17.5rem;
                }
            }
        }
    }
}